---
layout: default
---
<div class="col-xs-12 post">
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">{% if page.author %}{{ page.author }}{% endif %}{% if page.email %} &nbsp;<a href="mailto:{{ page.email }}"><span class="fa fa-envelope-o"></span></a>{% endif %}{% if page.twitter %} &nbsp;<a href="http://twitter.com/{{ page.twitter }}"><span class="fa fa-twitter"></span></a>{% endif %}<br /><span class="date">{{ page.date | date: "%Y %B %d" }}</span></p>

{{ content }}
</div>

