---
layout: default
---
<div class="col-xs-12 post">
<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">{% if page.author %}{{ page.author }}{% endif %}{% if page.email %} &nbsp;<a href="mailto:{{ page.email }}"><span class="fa fa-envelope-o"></span></a>{% endif %}{% if page.twitter %} &nbsp;<a href="http://twitter.com/{{ page.twitter }}"><span class="fa fa-twitter"></span></a>{% endif %}<br /><span class="date">{{ page.date | date: "%Y %B %d" }}</span></p>

{{ content }}

{% if page.comments %}
<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'codedculture';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endif %}
</div>

